---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
</IndexLayout>
