---
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
  navbarColor: "white" | "black";
  noIndex?: boolean;
}

const { title, navbarColor, noIndex } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml">

    {noIndex ? (
      <meta name="robots" content="noindex" />
    ) : (
      <meta name="robots" content="index" />
    )}

    <title>{title}</title>
  </head>

  <body>
    <Navbar whiteItems={navbarColor === "white"} />
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/admonitions.scss";

  html {
    font-family: system-ui, sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .astro-code {
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    border-radius: $radius;
    overflow: auto;
    max-width: 100%;
    margin: 0 auto;
  }
</style>
