---
import Code from "../components/Code.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "./BaseLayout.astro";

const metaDescription =
  "License-Cop is a CLI you can use ensure that all your npm dependencies use a license that you approve of.";
---

<BaseLayout title="License-Cop" navbarColor="white" metaDescription={metaDescription}>
  <main>
    <Hero>
      <h1>License-Cop</h1>
      <p class="subtitle">
        Yet another license checker tool for your dependencies; focused on simplicity.
      </p>

      <div>
        <p>
          <Code code="npm install license-cop --save-dev" />
        </p>
      </div>
    </Hero>

    <div class="content">
      <slot />
    </div>
  </main>

  <Footer />
</BaseLayout>

<style lang="scss">
  @use "../styles/vars.scss" as *;

  main {
    width: 100%;

    display: grid;
    justify-items: center;
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
    color: white;
  }

  .subtitle {
    color: white;
    font-size: 1.2rem;
  }

  .content {
    max-width: $contentWidth;
    width: 100%;

    margin-top: 2rem;
  }
</style>
