---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="License-Cop" navbarColor="white">
  <main>
    <Hero />

    <div class="content">
      <slot />
    </div>
  </main>

  <Footer />
</BaseLayout>

<style>
  main {
    width: 100%;

    display: grid;
    justify-items: center;
  }

  .content {
    max-width: 800px;
    width: 100%;

    margin-top: 2rem;
  }
</style>
