---
import FooterItem from "./FooterItem.astro";

const year = new Date().getFullYear();
---

<div class="footer">
  <div class="columns">
    <div class="column">
      <h3>Pages</h3>
      <FooterItem link="/" text="Home" />
      <FooterItem link="/docs" text="Docs" />
      <FooterItem link="/permissive" text="@license-cop/permissive" />
    </div>

    <div class="column right">
      <h3>Links</h3>
      <FooterItem link="https://github.com/tobysmith568/license-cop" text="GitHub" newTab/>
      <FooterItem link="https://npmjs.com/package/license-cop" text="npm" newTab/>
    </div>
  </div>

  <div class="copyright">
    <p>
      Copyright © {year}
      <a href="https://tobysmith.uk" target="_blank">Toby Smith</a>
      and Contributors
    </p>
  </div>
</div>

<style lang="scss">
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: left;
    margin-top: 4rem;
    padding: 2rem 0;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;

    &.right {
      align-items: flex-end;
    }
  }

  .copyright {
    background-color: #1a1a1a;
    color: #fff;
    min-height: 5rem;

    display: grid;
    place-items: center;

    p {
      margin: 0;
    }

    a {
      color: #fff;

      &:visited {
        color: #fff;
      }
    }
  }
</style>
