---
interface Props {
  href: string;
  newTab?: boolean;
}

const { href, newTab } = Astro.props;
---

<a href={href} target={newTab ? "_blank" : null}>
  <slot />
</a>

<style lang="scss">
  @use "../styles/vars.scss" as *;

  a {
    margin: 0.75rem 1rem;
    padding: 0.75rem 1rem;
    border-radius: $radius;

    background-color: $primary;
    color: $white;
    text-decoration: none;

    &:hover {
      background-color: lighten($color: $primary, $amount: 10);
    }
  }
</style>
