---
interface Props {
  link: string;
  text: string;
  newTab?: boolean;
  isWhite?: boolean;
}

const { link, text, newTab, isWhite } = Astro.props
---

<div class="item">
  <a href={link} class={isWhite ? "is-white" : null} target={newTab ? "_blank" : null} >{text}</a>
</div>

<style lang="scss">
  .item {
    padding: 1rem 0;
  }

  a {
    padding: 1rem;
    color: #000;
    text-decoration: none;

    &.is-white {
      color: #fff;
    }
  }

  a:visited {
    color: #000;

    &.is-white {
      color: #fff;
    }
  }


</style>
