name: CD

on:
  workflow_dispatch:
    inputs:
      version:
        description: A SemVer for the release
        default: ""
        required: true
        type: string

defaults:
  run:
    shell: pwsh

env:
  NODE_VERSION: 20

jobs:
  ci:
    name: Run CI
    uses: ./.github/workflows/ci.yml
    with:
      version: ${{ inputs.version }}
      branch_name: main
    secrets: inherit

  publish:
    name: Publish to npm

    needs:
      - ci

    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./dist

      - name: Publish
        run: npx nx run-many --target publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  purge-jsdelivr:
    name: Purge JsDelivr

    needs:
      - publish

    runs-on: ubuntu-latest

    steps:
      - run: Invoke-WebRequest -Uri "https://purge.jsdelivr.net/npm/@license-cop/permissive@latest/.licenses.jsonc"

  deploy-website:
    name: Deploy Website
    uses: ./.github/workflows/website.yml
    needs:
      - purge-jsdelivr

  create-release:
    name: Create GitHub Release

    needs:
      - publish

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./dist

      - name: Pack assets
        run: npx nx run-many --target pack

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ inputs.version }}
          generate_release_notes: true
          files: dist/**.tgz
          body: |
            # Release v${{ inputs.version }}

            Download from [npm](https://www.npmjs.com/package/license-cop/v/${{ inputs.version }}): `npm install license-cop@${{ inputs.version }} --save-dev`
