name: CI

on:
  push:
    branches:
      - renovate/*
      - main
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      version:
        description: The version to set in the package.json files
        default: "0.0.0"
        required: false
        type: string
      branch_name:
        description: The name of the branch
        required: true
        type: string

env:
  NODE_VERSION: 20

defaults:
  run:
    shell: pwsh

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run Prettier
        run: npx prettier --check .

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npx nx run-many --target build

      - name: Log Version
        run: Write-Host ${{ inputs.version }}

      - name: Set Version
        if: inputs.version != ''
        run: npx nx run-many --target version --args="--version=${{ inputs.version }}"

      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./dist
          retention-days: 1

  test:
    name: Unit Test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npx nx run-many --target test --configuration ci

      - name: Codecov
        uses: codecov/codecov-action@v4.4.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  licenses:
    name: Check Licenses

    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./dist

      - name: Check licenses
        run: npm exec ./dist/packages/license-cop

  e2e:
    name: E2E Test License-Cop

    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./dist

      - name: Run E2E Tests
        run: npx nx run license-cop-e2e:e2e:ci

  e2e-website:
    name: E2E Test Website

    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./dist

      - name: Run E2E Tests
        run: npx start-server-and-test 'nx run website:serve' http://localhost:4321 'nx run website-e2e:e2e:ci'
