name: Website CD

on:
  push:
    branches:
      - main
  workflow_call:

env:
  NODE_VERSION: 24

defaults:
  run:
    shell: pwsh

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Build Website

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build Website
        run: pnpm nx run website:build

      - name: Upload Build
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist/apps/website

  e2e:
    name: E2E Test Website

    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Cypress
        run: pnpm cypress install

      - name: Run E2E Tests
        run: pnpm start-server-and-test 'pnpm nx run website:serve' http://localhost:4321 'pnpm nx run website-e2e:e2e:ci'

      - name: Upload E2E screenshots
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: E2E Screenshots
          path: dist/cypress/apps/website-e2e/screenshots/
          if-no-files-found: ignore
          retention-days: 1

      - name: Upload E2E videos
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: E2E Videos
          path: dist/cypress/apps/website-e2e/videos/
          if-no-files-found: ignore
          retention-days: 1

  deploy:
    name: Deploy Website

    needs:
      - e2e

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
